.format {

  &__container {
    @include container;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 0.6rem 0;

    &-wrap {
      display: flex;
    } 

    &-descr {
      margin-left: 0.5rem;
    }

    &-title {
      text-align: center;
      margin-top: 2rem;
    }

    &-img {
      min-width: 102px;
      height: 62px;
      border-radius: 50%;
    }
  }


  &__btn {
    font-size: 1rem;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 174px;
    @include btn-shadow;
  }

}