doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="assets/css/style.css")
  body
    header.header
      .header__container
        .header__wrapper
          a.logo(href="")
            span.logo__text me and lirika
          .burger
            span

    section.promo
      .promo__container
        .promo__info
          h1.promo__title Курсы эффективных тренировок
          span.promo__start-date Старт
            time 20.09.2019
          .promo__descr
            | Программа включает 4-х недельный видео-курс с повышением интенсивности с каждой новой тренировкой.
            | Формат видео-тренировок позволяет приступить к занятиям в любое удобное время дня.
          button.btn.promo__btn 
            span.btn__txt Записаться на курс

    section.format
      .format__container
        h2.title.format__title Формат обучения
        .format__wrap
          .format__item
            .format__img
              img(src="./static/img/format-1.jpg", alt="lirika training")
            .format__descr 
              | Программа включает 4-х недельный видео-курс с повышением интенсивности с каждой новой тренировкой.
              | Формат видео-тренировок позволяет приступить к занятиям в любое удобное время дня.

          .format__item
            .format__img
              img(src="./static/img/format-2.jpg", alt="lirika training")
            .format__descr 
              | После силовых тренировок ты получишь комплекс упражнений для
              | эффективной и безопасной растяжки, состоящий из разогрева, разминки и самих растягивающих техник

          .format__item
            .format__img
              img(src="./static/img/format-3.jpg", alt="lirika training")
            .format__descr 
              | К концу каждой недели тебя ждет полноценная информация о всех техниках направления TWERK. 
              | Покажу как можно стильно подать этот материал, научу выполнять переходы между движениями,
              | импровизировать и попробовать выучить связку.

          button.btn.format__btn Записаться на курс
          
          




    script(src="static/js/libs.min.js")
    script(src="static/js/app.js")
              
         
          


