doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="assets/css/style.css")
  body
    header.header
      .header__container
        .header__wrapper
          a.logo(href="")
            span.logo__text me and lirika
          .burger
            span

    section.promo
      .promo__container
        .promo__info
          h1.promo__title Курсы эффективных тренировок
          span.promo__start-date Старт
            time 20.09.2019
          .promo__descr
            | Программа включает 4-х недельный видео-курс с повышением интенсивности с каждой новой тренировкой.
            | Формат видео-тренировок позволяет приступить к занятиям в любое удобное время дня.
          button.btn.promo__btn 
            span.btn__txt Записаться на курс

    section.format
      .format__container
        h2.title Формат обучения
        .format__wrap
          .format__item 
            .format__item-wrap
              .format__item-img
                img(src="./static/img/format-1.jpg", alt="lirika training")
              .format__item-descr 
                p
                  | Программа включает 4-х недельный видео-курс с повышением интенсивности с каждой новой тренировкой.
                  | Формат видео-тренировок позволяет приступить к занятиям в любое удобное время дня.

          .format__item 
            .format__item-wrap
              .format__item-img
                img(src="./static/img/format-2.jpg", alt="lirika training")
              .format__item-descr 
                p
                  | После силовых тренировок ты получишь комплекс упражнений для
                  | эффективной и безопасной растяжки, состоящий из разогрева, разминки и самих растягивающих техник
          .format__item 
            .format__item-wrap
              .format__item-img
                img(src="./static/img/format-3.jpg", alt="lirika training")
              .format__item-descr 
                p
                  | К концу каждой недели тебя ждет полноценная информация о всех техниках направления TWERK. 
                  | Покажу как можно стильно подать этот материал, научу выполнять переходы между движениями,
                  | импровизировать и попробовать выучить связку.



          button.btn.format__btn Записаться на курс

    section.about
      .about__photo
      .about__container 
        .about__information
          h3.about__title О трененре
          .about__descr
            p «Салют! Меня зовут Лирика! Я танцую и преподаю уже больше 7 лет.
            p Мой курс включает не только занятия по танцевальному направлению, но и комплекс силовых тренировок с растяжкой. По своему опыту знаю: чтобы танцевать, нужно иметь особую физподготовку и хорошую пластику. 
              | Поэтому готова делиться самыми эффективными тренировками! 
            P Видео-курсы я успешно веду уже больше 1 года. В общей сложности, его прошли около 1000 человек, и я приглашаю тебя тренироваться вместе со мной!»
          
    section.courses
      .courses__container
        h4.title Курсы
        .slider
          .slider__item
            article.card
              .card__head
                img.card__img(src="./static/img/card-1.jpg", alt="lirika")
                h3.card__title twerk
              .card__body
                ul.card__list
                  li.card__item Техника TWERK
                  li.card__item Чат с тренером и участниками
                  li.card__item Online-поддержка от тренера
                .card__bottom
                  span.card__price 1500 р
                  button.btn.card__btn Записаться на курс
    
          .slider__item
            article.card
              .card__head
                img.card__img(src="./static/img/card-1.jpg", alt="lirika")
                h3.card__title twerk
              .card__body
                ul.card__list
                  li.card__item Техника TWERK
                  li.card__item Чат с тренером и участниками
                  li.card__item Online-поддержка от тренера
                .card__bottom
                  span.card__price 1500 р
                  button.btn.card__btn Записаться на курс

          .slider__item
            article.card
              .card__head
                img.card__img(src="./static/img/card-1.jpg", alt="lirika")
                h3.card__title twerk
              .card__body
                ul.card__list
                  li.card__item Техника TWERK
                  li.card__item Чат с тренером и участниками
                  li.card__item Online-поддержка от тренера
                .card__bottom
                  span.card__price 1500 р
                  button.btn.card__btn Записаться на курс

          .slider__item
            article.card
              .card__head
                img.card__img(src="./static/img/card-1.jpg", alt="lirika")
                h3.card__title twerk
              .card__body
                ul.card__list
                  li.card__item Техника TWERK
                  li.card__item Чат с тренером и участниками
                  li.card__item Online-поддержка от тренера
                .card__bottom
                  span.card__price 1500 р
                  button.btn.card__btn Записаться на курс

    .feedback
      .feedback__container
        span.title.feedback__title
        .feedback__wrap
          .feedback__photos
            img.feedback__img(src="", alt="")
            img.feedback__img.feedback__img--absolut(src="", alt="")

          .feedback__reviews
            .feedback-slider
              .feedback-slider__item
                .feedback__reviews-text
                  p fejvneslvnles
                span.feedback__reviews-author

              .feedback-slider__item
                .feedback__reviews-text
                  p fejvneslvnles
                span.feedback__reviews-author

        
            



    script(src="static/js/libs.min.js")
    script(src="static/js/app.js")
              
         
          


