doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="assets/css/style.css")
  body
    header.header
      .header__container
        .header__wrapper
          a.logo(href="")
            span.logo__text me and lirika
          .burger
            span
    section.promo
      .promo__container
        .promo__info
          h1.promo__title Курсы эффективных тренировок
          span.promo__start-date Старт
            time 20.09.2019
          button.btn.promo__btn Записаться на курс


      



    script(src="static/js/libs.min.js")
    script(src="static/js/app.js")
              
         
          


